Repository arocull/stag-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-update, cargo-test, cargo-clippy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-json
        exclude: .vscode/
      - id: pretty-format-json
        args: [--autofix]
        exclude: .vscode/
      - id: check-yaml
      - id: check-toml
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-case-conflict
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: forbid-submodules

  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.9.0
    hooks:
      - id: shellcheck

  # GDScript Toolkit - https://github.com/Scony/godot-gdscript-toolkit
  - repo: local
    # rev: 4.2.2
    hooks:
      - id: gdlint
        name: gdlint
        description: "gdlint - linter for GDScript"
        entry: gdlint
        language: python
        language_version: python3
        require_serial: true
        types: [gdscript]
  #   Disabling because formatter sucks right now.
  #   Looks like it may be getting added to Godot though:
  #   https://github.com/godotengine/godot/pull/97383
  #   - id: gdformat
  #     name: gdformat
  #     description: "gdformat - formatter for GDScript"
  #     entry: gdformat
  #     language: python
  #     language_version: python3
  #     require_serial: true
  #     types: [gdscript]

  - repo: local
    hooks:
      - id: cargo-fmt
        name: format rust
        entry: cargo fmt
        language: system
        pass_filenames: false
        types: [rust]

      # Updating accomplishes a few things:
      # - verifies dependencies are actually up to date (branch specifiers are
      #   lazily evaluated)
      # - verifies dependencies are actually used (unused dependencies or
      #   versions are removed)
      # - verifies dependencies are pinned within reason (no loose version
      #   specifiers)
      # - verifies dependencies are actually compatible (no sudden version
      #   conflicts from loose version specifiers)
      # - refreshes Cargo.lock
      - id: cargo-update
        name: update crates
        entry: cargo update
        language: system
        pass_filenames: false
        types: [toml]

      - id: cargo-test
        name: test crate
        entry: cargo test
        language: system
        pass_filenames: false
        # NOTE: `types` key is an AND operation, `types_or` key is an OR
        # operation
        # https://pre-commit.com/#filtering-files-with-types
        types_or: [rust, toml]

      - id: cargo-clippy
        name: check crate
        entry: cargo clippy
        args: [--fix, --allow-staged, --, -D, warnings]
        language: system
        pass_filenames: false
        types_or: [rust, toml]

refactor!: optimizations and parallelization for IslandBuilder (#44)
  .gitea/workflows/release.yaml
  .github/workflows/release.yml
  Cargo.lock
  Makefile
  godot/.gitignore
  godot/.godot/extension_list.cfg
  godot/.godot/global_script_class_cache.cfg
  godot/3d/islandbuilder/meshgen_test.gd
  godot/3d/islandbuilder/meshgen_test.tscn
  godot/addons/stag_toolkit/plugin.cfg
  godot/addons/stag_toolkit/plugin/island_builder.gd
  godot/addons/stag_toolkit/plugin/stagtest.gd
  godot/addons/stag_toolkit/plugin/ui/island_docker.tscn
  godot/addons/stag_toolkit/stagtoolkit.gdextension
  godot/project.godot
  godot/test/benchmarks/bench_many_islands.gd
  godot/test/benchmarks/bench_many_islands.tscn
  godot/test/benchmarks/islandbuilder/bench_build_all.gd
  godot/test/benchmarks/islandbuilder/bench_build_all.tscn
  godot/test/benchmarks/islandbuilder/bench_island_builder.gd
  godot/test/benchmarks/islandbuilder/bench_island_builder.tscn
  godot/test/benchmarks/islandbuilder/bench_nets.gd
  godot/test/benchmarks/islandbuilder/bench_nets.tscn
  godot/test/sanity/test_callables.gd
  godot/test/sanity/test_callables.tscn
  godot/test/scenarios/test_island_builder.gd
  godot/test/scenarios/test_island_builder.tscn
  readme.md
  rust/StagToolkit/Cargo.toml
  rust/StagToolkit/src/island.rs
  rust/StagToolkit/src/lib.rs
  rust/StagToolkit/src/math/volumetric.rs
  rust/StagToolkit/src/mesh/trimesh.rs
  rust/StagToolkit/src/sanity.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

fix: use custom for release CI
  .github/workflows/release.yml
Due: none

fix: realtime preview using old function name
  godot/addons/stag_toolkit/plugin/island_builder.gd
Due: none

devops: setup Godot test actions and reuable StagToolkit setup action (#45)
  .gitea/setup/action.yaml
  .gitea/workflows/ci.yaml
  .github/workflows/ci.yaml
  Makefile
  godot/3d/islandbuilder/materials/mat_testing_baked.tres
  godot/3d/islandbuilder/materials/mat_testing_preview.tres
  godot/test/scenarios/test_island_builder.gd
  godot/test/scenarios/test_island_builder.tscn
  readme.md
Due: none

feat: add `default` utility function for StagUtils (#46)
  godot/addons/stag_toolkit/plugin/stagtest.gd
  godot/addons/stag_toolkit/plugin/utils.gd
  godot/addons/stag_toolkit/plugin/utils_import.gd
  godot/test/scenarios/test_utils.gd
  readme.md
Due: none

chore: increment version, update cargo dependencies
  Cargo.lock
  godot/addons/stag_toolkit/plugin.cfg
  godot/project.godot
  rust/StagToolkit/Cargo.toml
Due: cargo-update, cargo-test, cargo-clippy

devops: fix some configuration issues for GitHub actions
  .gitea/setup/action.yaml
  .github/workflows/ci.yaml
Due: none

fix: empty strings loaded by 'default' should be empty
  godot/addons/stag_toolkit/plugin/utils.gd
  godot/test/scenarios/test_utils.gd
Due: none

fix: actually fix string conversions, allow 'salvage' of number types
  godot/addons/stag_toolkit/plugin/utils.gd
  godot/test/scenarios/test_utils.gd
Due: none

feat: IslandBuilder LODs, support for CSGCylinder3D and CSGTorus3D, and cleanup (#47)
  Cargo.lock
  godot/3d/islandbuilder/meshgen_test.gd
  godot/3d/islandbuilder/meshgen_test.tscn
  godot/addons/stag_toolkit/plugin/island_builder.gd
  godot/addons/stag_toolkit/stagtoolkit.gdextension
  godot/test/scenarios/test_island_builder.gd
  godot/test/scenarios/test_island_builder.tscn
  rust/StagToolkit/src/island.rs
  rust/StagToolkit/src/lib.rs
  rust/StagToolkit/src/math/delta.rs
  rust/StagToolkit/src/math/sdf.rs
  rust/StagToolkit/src/mesh/godot.rs
Due: cargo-fmt, cargo-test, cargo-clippy

fix: shader optimizations, fix StagTest requiring Rust backend, fix SimpleLOD using wrong thresholds (#48)
  godot/addons/stag_toolkit/plugin/importer/simple_lod.gd
  godot/addons/stag_toolkit/plugin/stagtest.gd
  godot/addons/stag_toolkit/utils/shader_includes/include_colorspace.gdshaderinc
  godot/addons/stag_toolkit/utils/shader_includes/include_normals.gdshaderinc
  godot/addons/stag_toolkit/utils/shader_includes/include_projection.gdshaderinc
  godot/addons/stag_toolkit/utils/shader_includes/include_remap.gdshaderinc
  godot/addons/stag_toolkit/utils/shader_includes/include_vector.gdshaderinc
  godot/addons/stag_toolkit/utils/shader_includes/shaderbase_debug.gdshaderinc
  godot/addons/stag_toolkit/utils/shaders/matdebug_wireframe.tres
  godot/test/benchmarks/bench_benchmarks.gd
  godot/test/benchmarks/bench_benchmarks.tscn
Due: none

chore: update deps, change version number
  Cargo.lock
  godot/addons/stag_toolkit/plugin.cfg
  godot/project.godot
  rust/StagToolkit/Cargo.toml
Due: cargo-update, cargo-test, cargo-clippy

chore\!: update to Godot 4.3
  Cargo.lock
  Makefile
  godot/addons/stag_toolkit/plugin.cfg
  godot/project.godot
  readme.md
  rust/StagToolkit/Cargo.toml
Due: cargo-update, cargo-test, cargo-clippy

docs: add notes on accessing docs locally
  docs/images/godot-internal-docs.png
  readme.md
Due: none

feat: initial class layout for RopeSimulation
  rust/StagToolkit/src/lib.rs
  rust/StagToolkit/src/rope.rs
  rust/StagToolkit/src/simulation/rope.rs
Due: cargo-fmt, cargo-test, cargo-clippy

more WIP rope implementation
  .gitea/setup/action.yaml
  .gitea/workflows/ci.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yml
  Cargo.lock
  readme.md
  rust/StagToolkit/Cargo.toml
  rust/StagToolkit/src/math/types.rs
  rust/StagToolkit/src/rope.rs
  rust/StagToolkit/src/simulation/rope.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

more WIP rope stuff
  rust/StagToolkit/src/rope.rs
  rust/StagToolkit/src/simulation/rope.rs
Due: cargo-fmt, cargo-test, cargo-clippy

yet more WIP rope stuff
  Makefile
  godot/addons/stag_toolkit/stagtoolkit.gdextension
  rust/StagToolkit/src/rope.rs
  rust/StagToolkit/src/simulation/rope.rs
Due: cargo-fmt, cargo-test, cargo-clippy

WORKING ROPE PROTOTYPE
  rust/StagToolkit/src/rope.rs
  rust/StagToolkit/src/simulation/rope.rs
Due: cargo-fmt, cargo-test, cargo-clippy

feat: initial add for SimulatedRope (#49)
  .gitea/setup/action.yaml
  .gitea/workflows/ci.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yml
  Cargo.lock
  Makefile
  godot/addons/stag_toolkit/stagtoolkit.gdextension
  readme.md
  rust/StagToolkit/Cargo.toml
  rust/StagToolkit/src/lib.rs
  rust/StagToolkit/src/math/types.rs
  rust/StagToolkit/src/rope.rs
  rust/StagToolkit/src/simulation/rope.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

feat: add project setting for default SimulatedRopeSettings when not specified
  .gitea/workflows/ci.yaml
  .github/workflows/ci.yaml
  Cargo.lock
  LICENSE
  godot/addons/stag_toolkit/plugin/stagtest.gd
  godot/addons/stag_toolkit/stag_toolkit.gd
  godot/assets/rope/mat_rope.tres
  godot/assets/rope/mesh_rope_full.tres
  godot/assets/rope/shader_rope.gdshader
  godot/assets/rope/shader_rope.gdshader.uid
  godot/assets/rope/simulated_rope_defaults.tres
  godot/project.godot
  rust/StagToolkit/src/rope.rs
Due: cargo-fmt, cargo-test, cargo-clippy

rope fixes
  rust/StagToolkit/src/rope.rs
  rust/StagToolkit/src/simulation/rope.rs
Due: cargo-fmt, cargo-test, cargo-clippy

more utilities for sliding
  rust/StagToolkit/src/math/types.rs
  rust/StagToolkit/src/mesh/godot.rs
  rust/StagToolkit/src/rope.rs
  rust/StagToolkit/src/simulation/rope.rs
Due: cargo-fmt, cargo-test, cargo-clippy

methods for batch-saving IslandBuilders to files
  .gitattributes
  Cargo.lock
  godot/.gitignore
  godot/3d/islandbuilder/materials/mat_island_sandy.tres
  godot/3d/islandbuilder/materials/mat_island_sandy_nobake.tres
  godot/3d/islandbuilder/meshgen_test.tscn
  godot/addons/stag_toolkit/plugin.cfg
  godot/addons/stag_toolkit/plugin/island_builder.gd
  godot/addons/stag_toolkit/plugin/ui/island_docker.tscn
  godot/addons/stag_toolkit/stag_toolkit.gd
  godot/project.godot
  rust/StagToolkit/Cargo.toml
Due: cargo-update, cargo-test, cargo-clippy

feat: IslandBuilder can now save out individual files, stability + feature improvements on SimulatedRope (#50)
  .gitattributes
  .gitea/workflows/ci.yaml
  .github/workflows/ci.yaml
  Cargo.lock
  LICENSE
  godot/.gitignore
  godot/3d/islandbuilder/materials/mat_island_sandy.tres
  godot/3d/islandbuilder/materials/mat_island_sandy_nobake.tres
  godot/3d/islandbuilder/meshgen_test.tscn
  godot/addons/stag_toolkit/plugin.cfg
  godot/addons/stag_toolkit/plugin/island_builder.gd
  godot/addons/stag_toolkit/plugin/stagtest.gd
  godot/addons/stag_toolkit/plugin/ui/island_docker.tscn
  godot/addons/stag_toolkit/stag_toolkit.gd
  godot/assets/rope/mat_rope.tres
  godot/assets/rope/mesh_rope_full.tres
  godot/assets/rope/shader_rope.gdshader
  godot/assets/rope/shader_rope.gdshader.uid
  godot/assets/rope/simulated_rope_defaults.tres
  godot/project.godot
  rust/StagToolkit/Cargo.toml
  rust/StagToolkit/src/math/types.rs
  rust/StagToolkit/src/mesh/godot.rs
  rust/StagToolkit/src/rope.rs
  rust/StagToolkit/src/simulation/rope.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

rollback version to 0.2.0
  Cargo.lock
  godot/addons/stag_toolkit/plugin.cfg
  godot/project.godot
  readme.md
  rust/StagToolkit/Cargo.toml
Due: cargo-update, cargo-test, cargo-clippy

fix CI versions
  .gitea/setup/action.yaml
  .gitea/workflows/ci.yaml
  .github/workflows/ci.yaml
Due: none

fix: rope not updating AABB when using default settings, touch Abyss build system
  Makefile
  godot-build/abyss.build
  godot-build/build.sh
  godot/test/scenarios/rope/test_interface.gd
  godot/test/scenarios/rope/test_interface.gd.uid
  godot/test/scenarios/rope/test_interface.tscn
  rust/StagToolkit/src/rope.rs
Due: cargo-fmt, cargo-test, cargo-clippy

docs: update installation, add derust make flag
  Makefile
  readme.md
Due: none

fix: simple LOD using wrong option names during import step
  godot/addons/stag_toolkit/plugin/importer/simple_lod.gd
  readme.md
Due: none

feat: add more editor icons, fix linting issues with StagToolkit, bump version to 0.2.1
  Cargo.lock
  godot/.godot/global_script_class_cache.cfg
  godot/addons/stag_toolkit/icons/icon_simulatedrope.svg
  godot/addons/stag_toolkit/icons/icon_simulatedrope.svg.import
  godot/addons/stag_toolkit/icons/icon_simulatedropebinding.svg
  godot/addons/stag_toolkit/icons/icon_simulatedropebinding.svg.import
  godot/addons/stag_toolkit/icons/icon_simulatedropesettings.svg
  godot/addons/stag_toolkit/icons/icon_simulatedropesettings.svg.import
  godot/addons/stag_toolkit/icons/icon_stagtoolkit.svg
  godot/addons/stag_toolkit/icons/icon_stagtoolkit.svg.import
  godot/addons/stag_toolkit/icons/icon_stagtoolkit_monochrome.svg
  godot/addons/stag_toolkit/icons/icon_stagtoolkit_monochrome.svg.import
  godot/addons/stag_toolkit/plugin.cfg
  godot/addons/stag_toolkit/plugin/importer/ironpress.gd
  godot/addons/stag_toolkit/plugin/importer/simple_lod.gd
  godot/addons/stag_toolkit/plugin/island_builder.gd
  godot/addons/stag_toolkit/plugin/stagtest.gd
  godot/addons/stag_toolkit/plugin/utils.gd
  godot/addons/stag_toolkit/plugin/utils_import.gd
  godot/addons/stag_toolkit/stag_toolkit.gd
  godot/addons/stag_toolkit/stagtoolkit.gdextension
  godot/project.godot
  rust/StagToolkit/Cargo.toml
  rust/StagToolkit/src/island.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

attempt to build master branch with Godot API 4.4
  Cargo.lock
  godot/test/scenarios/test_island_builder.gd
  rust/StagToolkit/Cargo.toml
  rust/StagToolkit/src/island.rs
  rust/StagToolkit/src/rope.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

fix: island generation errors when using a debug build
  Cargo.lock
  Makefile
  rust/StagToolkit/src/island.rs
  rust/StagToolkit/src/math/volumetric.rs
  rust/StagToolkit/src/mesh/pointcloud.rs
  rust/StagToolkit/src/mesh/trimesh.rs
Due: cargo-fmt, cargo-test, cargo-clippy

chore: update license to be more permissive
  LICENSE
Due: none

chore!: migrate to Godot API 4.4 (#51)
  Cargo.lock
  Makefile
  godot/3d/islandbuilder/meshgen_test.tscn
  godot/3d/rope/rope.tscn
  godot/addons/stag_toolkit/plugin.cfg
  godot/addons/stag_toolkit/plugin/island_builder.gd
  godot/project.godot
  godot/test/benchmarks/islandbuilder/bench_build_all.gd
  godot/test/scenarios/test_island_builder.gd
  godot/test/scenarios/test_island_builder.tscn
  rust/StagToolkit/Cargo.toml
  rust/StagToolkit/src/island.rs
  rust/StagToolkit/src/lib.rs
  rust/StagToolkit/src/math/projection.rs
  rust/StagToolkit/src/math/sdf.rs
  rust/StagToolkit/src/math/types.rs
  rust/StagToolkit/src/math/volumetric.rs
  rust/StagToolkit/src/mesh/pointcloud.rs
  rust/StagToolkit/src/mesh/trimesh.rs
  rust/StagToolkit/src/primqueue.rs
  rust/StagToolkit/src/rope.rs
  rust/StagToolkit/src/simulation/rope.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

chore: update Rust edition, bump version
  Cargo.lock
  godot/addons/stag_toolkit/plugin.cfg
  godot/project.godot
  rust/StagToolkit/Cargo.toml
  rust/StagToolkit/src/island.rs
  rust/StagToolkit/src/math/projection.rs
  rust/StagToolkit/src/math/sdf.rs
  rust/StagToolkit/src/mesh/trimesh.rs
  rust/StagToolkit/src/primqueue.rs
  rust/StagToolkit/src/rope.rs
  rust/StagToolkit/src/simulation/rope.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

chore!: refactor StagToolkit to double as a Rust library (#52)
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  Makefile
  build.cmd
  godot/addons/stag_toolkit/plugin.cfg
  godot/addons/stag_toolkit/stagtoolkit.gdextension
  godot/project.godot
  readme.md
  rust/StagToolkit/src/lib.rs
  rust/StagToolkit/src/math/types.rs
  stag-toolkit/Cargo.toml
  stag-toolkit/src/animation/mixable.rs
  stag-toolkit/src/animation/pose.rs
  stag-toolkit/src/animation/soup.rs
  stag-toolkit/src/classes/island.rs
  stag-toolkit/src/classes/primqueue.rs
  stag-toolkit/src/classes/rope.rs
  stag-toolkit/src/classes/sanity.rs
  stag-toolkit/src/lib.rs
  stag-toolkit/src/math/delta.rs
  stag-toolkit/src/math/primqueue.rs
  stag-toolkit/src/math/projection.rs
  stag-toolkit/src/math/sdf.rs
  stag-toolkit/src/math/types.rs
  stag-toolkit/src/math/volumetric.rs
  stag-toolkit/src/mesh/godot.rs
  stag-toolkit/src/mesh/hull.rs
  stag-toolkit/src/mesh/nets.rs
  stag-toolkit/src/mesh/pointcloud.rs
  stag-toolkit/src/mesh/trimesh.rs
  stag-toolkit/src/simulation/rope.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy
