Repository arocull/stag-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-update, cargo-test, cargo-clippy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-json
        exclude: .vscode/
      - id: pretty-format-json
        args: [--autofix]
        exclude: .vscode/
      - id: check-yaml
      - id: check-toml
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-case-conflict
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: forbid-submodules

  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.9.0
    hooks:
      - id: shellcheck

  # GDScript Toolkit - https://github.com/Scony/godot-gdscript-toolkit
  - repo: local
    # rev: 4.2.2
    hooks:
      - id: gdlint
        name: gdlint
        description: "gdlint - linter for GDScript"
        entry: gdlint
        language: python
        language_version: python3
        require_serial: true
        types: [gdscript]
  #   Disabling because formatter sucks right now.
  #   Looks like it may be getting added to Godot though:
  #   https://github.com/godotengine/godot/pull/97383
  #   - id: gdformat
  #     name: gdformat
  #     description: "gdformat - formatter for GDScript"
  #     entry: gdformat
  #     language: python
  #     language_version: python3
  #     require_serial: true
  #     types: [gdscript]

  - repo: local
    hooks:
      - id: cargo-fmt
        name: format rust
        entry: cargo fmt
        language: system
        pass_filenames: false
        types: [rust]

      # Updating accomplishes a few things:
      # - verifies dependencies are actually up to date (branch specifiers are
      #   lazily evaluated)
      # - verifies dependencies are actually used (unused dependencies or
      #   versions are removed)
      # - verifies dependencies are pinned within reason (no loose version
      #   specifiers)
      # - verifies dependencies are actually compatible (no sudden version
      #   conflicts from loose version specifiers)
      # - refreshes Cargo.lock
      - id: cargo-update
        name: update crates
        entry: cargo update
        language: system
        pass_filenames: false
        types: [toml]

      - id: cargo-test
        name: test crate
        entry: cargo test
        language: system
        pass_filenames: false
        # NOTE: `types` key is an AND operation, `types_or` key is an OR
        # operation
        # https://pre-commit.com/#filtering-files-with-types
        types_or: [rust, toml]

      - id: cargo-clippy
        name: check crate
        entry: cargo clippy
        args: [--fix, --allow-staged, --, -D, warnings]
        language: system
        pass_filenames: false
        types_or: [rust, toml]

WIP attribute macro generation for classes
  codegen/src/lib.rs
  stag-toolkit/src/mesh/island.rs
Due: cargo-fmt, cargo-test, cargo-clippy

working prototype!
  codegen/Cargo.toml
  codegen/src/lib.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

use new proc macro settings for IslandBuilderSettings
  stag-toolkit/src/classes/island_settings.rs
  stag-toolkit/src/mesh/island.rs
Due: cargo-fmt, cargo-test, cargo-clippy

fix: increase Godot test timeout
  Makefile
Due: none

IslandBuilderSettings class and associated settings classes are functional
  Cargo.lock
  codegen/Cargo.toml
  codegen/src/lib.rs
  godot/3d/islandbuilder/meshgen_test.tscn
  godot/test/scenarios/island_builder/test_settings.gd
  godot/test/scenarios/island_builder/test_settings.gd.uid
  godot/test/scenarios/island_builder/test_settings.tscn
  godot/test/scenarios/physics_server/test_raycast.tscn
  stag-toolkit/src/classes/island.rs
  stag-toolkit/src/classes/island_settings.rs
  stag-toolkit/src/classes/rope.rs
  stag-toolkit/src/mesh/island.rs
  stag-toolkit/src/simulation/rope.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

rename codegen crate to stag-toolkit-codegen
  Cargo.lock
  Cargo.toml
  godot/addons/stag_toolkit/stagtoolkit.gdextension
  stag-toolkit-codegen/Cargo.toml
  stag-toolkit-codegen/src/lib.rs
  stag-toolkit/Cargo.toml
  stag-toolkit/src/mesh/island.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

convert resource to/from pure rust struct
  stag-toolkit-codegen/src/lib.rs
  stag-toolkit/src/mesh/island.rs
Due: cargo-fmt, cargo-test, cargo-clippy

WIP refactor IslandBuilder code
  stag-toolkit-codegen/src/lib.rs
  stag-toolkit/src/classes/island.rs
  stag-toolkit/src/classes/island_settings.rs
  stag-toolkit/src/classes/physics_server.rs
  stag-toolkit/src/lib.rs
  stag-toolkit/src/math/noise.rs
  stag-toolkit/src/math/types.rs
  stag-toolkit/src/math/volumetric.rs
  stag-toolkit/src/mesh/godot.rs
  stag-toolkit/src/mesh/island.rs
  stag-toolkit/src/mesh/trimesh.rs
Due: cargo-fmt, cargo-test, cargo-clippy

basic preview working but buggy
  godot/3d/islandbuilder/meshgen_test.tscn
  godot/addons/stag_toolkit/plugin/island_builder/island_builder.gd
  stag-toolkit/src/classes/island.rs
  stag-toolkit/src/classes/island_settings.rs
  stag-toolkit/src/math/sdf.rs
  stag-toolkit/src/mesh/godot.rs
  stag-toolkit/src/mesh/island.rs
Due: cargo-fmt, cargo-test, cargo-clippy

refactor!: add IslandBuilderSettings for easier management of IslandBuilder data (#58)
  Cargo.lock
  Cargo.toml
  godot/3d/islandbuilder/meshgen_test.tscn
  godot/addons/stag_toolkit/plugin/island_builder/aabb_gizmo.gd
  godot/addons/stag_toolkit/plugin/island_builder/aabb_gizmo.gd.uid
  godot/addons/stag_toolkit/plugin/island_builder/island_builder.gd
  godot/addons/stag_toolkit/stag_toolkit.gd
  godot/addons/stag_toolkit/stagtoolkit.gdextension
  godot/test/scenarios/island_builder/test_settings.gd
  godot/test/scenarios/island_builder/test_settings.gd.uid
  godot/test/scenarios/island_builder/test_settings.tscn
  godot/test/scenarios/physics_server/test_raycast.tscn
  stag-toolkit-codegen/Cargo.toml
  stag-toolkit-codegen/src/lib.rs
  stag-toolkit/Cargo.toml
  stag-toolkit/benches/island.rs
  stag-toolkit/src/classes/island.rs
  stag-toolkit/src/classes/island_settings.rs
  stag-toolkit/src/classes/physics_server.rs
  stag-toolkit/src/classes/rope.rs
  stag-toolkit/src/lib.rs
  stag-toolkit/src/math/bounding_box.rs
  stag-toolkit/src/math/noise.rs
  stag-toolkit/src/math/sdf.rs
  stag-toolkit/src/math/types.rs
  stag-toolkit/src/math/volumetric.rs
  stag-toolkit/src/mesh/godot.rs
  stag-toolkit/src/mesh/island.rs
  stag-toolkit/src/mesh/trimesh.rs
  stag-toolkit/src/simulation/rope.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

fix: use swap buffer for IslandBuilder realtime preview, reduce threading inconsistencies
  godot/3d/islandbuilder/meshgen_test.tscn
  godot/addons/stag_toolkit/plugin/island_builder/island_builder.gd
  stag-toolkit/src/classes/island.rs
  stag-toolkit/src/math/sdf.rs
  stag-toolkit/src/mesh/godot.rs
  stag-toolkit/src/mesh/island.rs
Due: cargo-fmt, cargo-test, cargo-clippy

fix: masking and UVs not being applied, WIP Ambient Occlusion baking
  godot/3d/islandbuilder/meshgen_test.tscn
  stag-toolkit/src/lib.rs
  stag-toolkit/src/math/polar.rs
  stag-toolkit/src/math/projection.rs
  stag-toolkit/src/mesh/godot.rs
  stag-toolkit/src/mesh/island.rs
  stag-toolkit/src/mesh/trimesh.rs
Due: cargo-fmt, cargo-test, cargo-clippy

fix: 3D math fixes, ambient occlusion baking is functional (but slow)
  godot/3d/islandbuilder/materials/shaders/shader_ao_debug.gdshader
  godot/3d/islandbuilder/materials/shaders/shader_ao_debug.gdshader.uid
  godot/3d/islandbuilder/meshgen_test.tscn
  godot/3d/islandbuilder/test_ambient_occlusion.tscn
  godot/project.godot
  stag-toolkit/src/math/delta.rs
  stag-toolkit/src/math/projection.rs
  stag-toolkit/src/mesh/trimesh.rs
Due: cargo-fmt, cargo-test, cargo-clippy

fix: fix normal baking, parallelize ambient occlusion baking, add island benchmarks
  godot/3d/islandbuilder/meshgen_test.tscn
  godot/3d/islandbuilder/test_ambient_occlusion.tscn
  stag-toolkit-codegen/src/lib.rs
  stag-toolkit/benches/island.rs
  stag-toolkit/benches/simulation.rs
  stag-toolkit/src/mesh/island.rs
  stag-toolkit/src/mesh/trimesh.rs
Due: cargo-fmt, cargo-test, cargo-clippy

feat: improve IslandBuilder UI, fix using baked material on preview mesh
  godot/3d/islandbuilder/meshgen_test.tscn
  godot/3d/islandbuilder/test_ambient_occlusion.tscn
  godot/addons/stag_toolkit/plugin/island_builder/island_builder.gd
  godot/addons/stag_toolkit/plugin/island_builder/island_docker.tscn
  stag-toolkit/src/classes/island.rs
  stag-toolkit/src/classes/island_settings.rs
Due: cargo-fmt, cargo-test, cargo-clippy

fix: plugin settings, attempt to fix IslandBuilder settings not updating
  godot/addons/stag_toolkit/stag_toolkit.gd
  godot/project.godot
  stag-toolkit/src/classes/island.rs
Due: cargo-fmt, cargo-test, cargo-clippy

fix: slightly better data handling with IslandBuilder
  Cargo.lock
  stag-toolkit/src/classes/island.rs
  stag-toolkit/src/math/volumetric.rs
  stag-toolkit/src/mesh/island.rs
Due: cargo-fmt, cargo-test, cargo-clippy

fix: optimize IslandBuilder voxel bake by removing some unnecessary allocations
  stag-toolkit/src/classes/island.rs
  stag-toolkit/src/math/volumetric.rs
  stag-toolkit/src/mesh/island.rs
Due: cargo-fmt, cargo-test, cargo-clippy

fix: use batching to better handle ambient occlusion bakes
  Cargo.lock
  godot/3d/islandbuilder/meshgen_test.tscn
  godot/3d/islandbuilder/test_ambient_occlusion.tscn
  stag-toolkit/Cargo.toml
  stag-toolkit/benches/island.rs
  stag-toolkit/src/math/raycast.rs
  stag-toolkit/src/math/volumetric.rs
  stag-toolkit/src/mesh/island.rs
  stag-toolkit/src/mesh/trimesh.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

fix: optimize ambient occlusion even further
  Makefile
  stag-toolkit/Cargo.toml
  stag-toolkit/benches/island.rs
  stag-toolkit/benches/mesh.rs
  stag-toolkit/src/lib.rs
  stag-toolkit/src/math/raycast.rs
  stag-toolkit/src/mesh/island.rs
  stag-toolkit/src/mesh/trimesh.rs
  stag-toolkit/src/utils.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

chore: bump version, update packages, fix IslandBuilder using wrong smooth radius
  Cargo.lock
  godot/addons/stag_toolkit/plugin.cfg
  godot/addons/stag_toolkit/plugin/island_builder/island_builder.gd
  godot/project.godot
  readme.md
  stag-toolkit-codegen/Cargo.toml
  stag-toolkit/Cargo.toml
  stag-toolkit/src/mesh/island.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

fix: IslandBuilder.all_bake now runs synchronously since baking is parallel, clears cache after bake, fix project settings
  godot/3d/islandbuilder/meshgen_test.tscn
  godot/addons/stag_toolkit/plugin/island_builder/island_builder.gd
  godot/addons/stag_toolkit/stag_toolkit.gd
  godot/test/scenarios/island_builder/test_island_builder.gd
  stag-toolkit/src/classes/island.rs
  stag-toolkit/src/math/sdf.rs
  stag-toolkit/src/mesh/island.rs
  stag-toolkit/src/physics/server.rs
Due: cargo-fmt, cargo-test, cargo-clippy

fix: better threading distribution for IslandBuilder bake
  Cargo.lock
  stag-toolkit/src/math/volumetric.rs
  stag-toolkit/src/mesh/island.rs
  stag-toolkit/src/physics/server.rs
  stag-toolkit/src/utils.rs
Due: cargo-fmt, cargo-test, cargo-clippy

fix: unconfigured values cause SimpleLOD importer to fail, update derust target
  Makefile
  godot/addons/stag_toolkit/plugin.cfg
  godot/addons/stag_toolkit/plugin/importer/simple_lod.gd
Due: none

feat: StagUtils.walk_directory, GDScript backtraces for StagTest, fix PhysicsServer test
  .dockerignore
  Cargo.lock
  Makefile
  godot/addons/stag_toolkit/plugin.cfg
  godot/addons/stag_toolkit/plugin/stagtest.gd
  godot/addons/stag_toolkit/plugin/utils.gd
  godot/test/scenarios/utils/test_utils.gd
  readme.md
  stag-toolkit/src/math/raycast.rs
  stag-toolkit/src/mesh/trimesh.rs
Due: cargo-fmt, cargo-test, cargo-clippy

chore: update to Rust 1.90.0
  Cargo.lock
  stag-toolkit/src/classes/physics_server.rs
Due: cargo-fmt, cargo-test, cargo-clippy

devops: fix Godot version with CI, woops
  .gitea/composite/setup/action.yaml
Due: none

feat: remove argument count from StagTest.signal_expector in favor of 4.5 varying args
  .pre-commit-config.yaml
  godot/addons/stag_toolkit/plugin/stagtest.gd
  godot/test/scenarios/example/test_signals.gd
  godot/test/scenarios/island_builder/test_settings.gd
  godot/test/scenarios/rope/test_tension.gd
Due: none

fix: SimpleLOD should remove collision meshes from tree before saving
  godot/addons/stag_toolkit/plugin/importer/simple_lod.gd
Due: none

feat: add StagLogger class for custom logging, error catching
  godot/.godot/global_script_class_cache.cfg
  godot/addons/stag_toolkit/plugin/logger.gd
  godot/addons/stag_toolkit/plugin/logger.gd.uid
  godot/project.godot
  godot/prototyping/animation_soup.gd
  godot/test/scenarios/logger/test_logger.gd
  godot/test/scenarios/logger/test_logger.gd.uid
  godot/test/scenarios/logger/test_logger.tscn
  godot/test/scenarios/utils/test_utils.gd
  readme.md
Due: none

feat: GDScript error catching in StagTest
  godot/addons/stag_toolkit/plugin/stagtest.gd
  godot/test/scenarios/example/test_workflow.gd
Due: none

chore: update godot-rust to 4.0, fix clippy lints
  Cargo.lock
  stag-toolkit/Cargo.toml
  stag-toolkit/src/classes/island.rs
  stag-toolkit/src/classes/sanity.rs
  stag-toolkit/src/lib.rs
  stag-toolkit/src/math/raycast.rs
  stag-toolkit/src/math/volumetric.rs
  stag-toolkit/src/mesh/godot.rs
  stag-toolkit/src/mesh/island.rs
  stag-toolkit/src/mesh/trimesh.rs
  stag-toolkit/src/physics/server.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

fix: update NavIslandProperties, code cleanup
  stag-toolkit/src/classes/island.rs
  stag-toolkit/src/classes/rope.rs
  stag-toolkit/src/math/bounding_box.rs
  stag-toolkit/src/mesh/island.rs
  stag-toolkit/src/mesh/trimesh.rs
Due: cargo-fmt, cargo-test, cargo-clippy

slightly better alloc in remove_unused, add note to merge_by_distance
  stag-toolkit/src/mesh/trimesh.rs
Due: cargo-fmt, cargo-test, cargo-clippy

fix: SimulatedRopeBinding drops SimulatedRope reference while rope is exiting SceneTree
  stag-toolkit/src/classes/rope.rs
Due: cargo-fmt, cargo-test, cargo-clippy

fix: TriangleMesh optimizations (#61)
  stag-toolkit/benches/mesh.rs
  stag-toolkit/src/math/projection.rs
  stag-toolkit/src/math/raycast.rs
  stag-toolkit/src/mesh/island.rs
  stag-toolkit/src/mesh/trimesh.rs
Due: cargo-fmt, cargo-test, cargo-clippy

fix: IslandBuilder realtime preview no longer blocks main thread
  stag-toolkit/src/classes/island.rs
  stag-toolkit/src/mesh/island.rs
  stag-toolkit/src/utils.rs
Due: cargo-fmt, cargo-test, cargo-clippy

fix: prevent ropes from automatically disconnecting when switching editor scenes
  stag-toolkit/src/classes/island.rs
  stag-toolkit/src/classes/rope.rs
  stag-toolkit/src/mesh/island.rs
  stag-toolkit/src/utils.rs
Due: cargo-fmt, cargo-test, cargo-clippy

feat: add --suffixes command line flag for specifying tests, update Godot version for CI
  .gitea/composite/setup/action.yaml
  godot/addons/stag_toolkit/plugin/stagtest.gd
Due: none

update packages, CI fetch depth
  .github/workflows/ci.yaml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  Cargo.lock
Due: none
