Repository arocull/stag-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-update, cargo-test, cargo-clippy

cargo-fmt:
  name: format rust
  entry: cargo fmt
  language: system
  pass_filenames: false

cargo-update:
  name: update crates
  entry: cargo update
  language: system
  pass_filenames: false

cargo-test:
  name: test crate
  entry: cargo test
  language: system
  pass_filenames: false

cargo-clippy:
  name: check crate
  entry: cargo clippy
  args:
  - --fix
  - --allow-staged
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

rework: IslandBuilder SDF sampling now utilizes VolumeData struct (#22)
  Cargo.lock
  Makefile
  godot/3d/islandbuilder/materials/mat_island_sandy.tres
  godot/3d/islandbuilder/materials/mat_island_sandy_nobake.tres
  godot/3d/islandbuilder/materials/shaders/bases/island_sandy_ORIGINAL.gdshaderinc
  godot/3d/islandbuilder/materials/shaders/bases/shaderbase_island_sandy.gdshaderinc
  godot/3d/islandbuilder/materials/shaders/shader_sandy_high.gdshader
  godot/3d/islandbuilder/materials/shaders/shader_sandy_medium.gdshader
  godot/3d/islandbuilder/materials/shaders/shader_sandy_realtime.gdshader
  godot/3d/islandbuilder/materials/textures/gradient_dirt.tres
  godot/3d/islandbuilder/materials/textures/gradient_rock.tres
  godot/3d/islandbuilder/materials/textures/gradient_sand.tres
  godot/3d/islandbuilder/materials/textures/noise_generic.png
  godot/3d/islandbuilder/materials/textures/noise_generic.png.import
  godot/3d/islandbuilder/materials/textures/noise_generic_simple.tres
  godot/3d/islandbuilder/materials/textures/noise_normal.tres
  godot/3d/islandbuilder/meshgen_test.tscn
  godot/3d/materials/mat_red.tres
  godot/addons/stag_toolkit/plugin/island_builder.gd
  godot/addons/stag_toolkit/plugin/ui/island_docker.tscn
  godot/addons/stag_toolkit/utils/shader_includes/shaderbase_debug.gdshaderinc
  godot/addons/stag_toolkit/utils/shaders/matdebug_csg_intersect.tres
  godot/addons/stag_toolkit/utils/shaders/matdebug_csg_subtract.tres
  godot/addons/stag_toolkit/utils/shaders/matdebug_csg_union.tres
  rust/StagToolkit/Cargo.toml
  rust/StagToolkit/src/island.rs
  rust/StagToolkit/src/math/sdf.rs
  rust/StagToolkit/src/math/volumetric.rs
  rust/StagToolkit/src/mesh/godot.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

Project docs
  docs/projects/abyss.md
  docs/projects/brick-tower.md
Due: none

fix: Godot build script for Linux
  .pre-commit-config.yaml
  Makefile
  godot-build/abyss.build
  godot-build/build.sh
  readme.md
Due: none

docs: Cleanup for publishing to GitHub, add funding options (#24)
  .github/FUNDING.yml
  LICENSE
  docs/projects/abyss.md
  docs/projects/brick-tower.md
  docs/resources.md
  docs/workspace.md
  readme.md
Due: none

feat: adjustable padding, Destroy Bakes button, minor fixes (#25)
  godot/addons/stag_toolkit/plugin/island_builder.gd
  godot/addons/stag_toolkit/plugin/ui/island_docker.tscn
  rust/StagToolkit/src/island.rs
  rust/StagToolkit/src/math/volumetric.rs
Due: cargo-fmt, cargo-test, cargo-clippy

docs: additional cleanup for GitHub
  .github/FUNDING.yml.old
  .github/ci.yaml
  Cargo.lock
  readme.md
  rust/StagToolkit/Cargo.toml
Due: cargo-update, cargo-test, cargo-clippy

fix: move funding back to original file
  .github/FUNDING.yml
Due: none

feat: implementation of an in-engine testing system
  .gdlintrc
  .github/workflows/ci.yaml
  godot/addons/stag_toolkit/plugin/stagtest.gd
  godot/addons/stag_toolkit/plugin/stagutils.gd
  godot/addons/stag_toolkit/stag_toolkit.gd
  godot/project.godot
  godot/test/scenarios/hello_world.tscn
  godot/test/scenarios/test_hello_world.gd
Due: none

feat: implement StagTest, a Godot Engine integration test harness (#28)
  .gdlintrc
  .github/workflows/ci.yaml
  Makefile
  docs/tools/stagtest.md
  godot/addons/stag_toolkit/plugin/stagtest.gd
  godot/addons/stag_toolkit/plugin/stagutils.gd
  godot/addons/stag_toolkit/stag_toolkit.gd
  godot/project.godot
  godot/test/scenarios/failing_test.gd
  godot/test/scenarios/failing_test.tscn
  godot/test/scenarios/hello_world.tscn
  godot/test/scenarios/signals_test.gd
  godot/test/scenarios/signals_test.tscn
  godot/test/scenarios/test_hello_world.gd
  readme.md
Due: none

fix: simplify GodotSurfaceArrays struct (thanks Bromeon)
  rust/StagToolkit/src/mesh/godot.rs
Due: cargo-fmt, cargo-test, cargo-clippy

feat: time scaling and initial approx_equal for StagTest
  docs/tools/stagtest.md
  godot/addons/stag_toolkit/plugin/stagtest.gd
Due: none

feat: add timescale to StagTest for setting default engine speed
  godot/addons/stag_toolkit/plugin/stagtest.gd
Due: none

rework: better Projection module, add PointCloud module (#29)
  rust/StagToolkit/src/lib.rs
  rust/StagToolkit/src/math/projection.rs
  rust/StagToolkit/src/mesh/godot.rs
  rust/StagToolkit/src/mesh/hull.rs
  rust/StagToolkit/src/mesh/pointcloud.rs
  rust/StagToolkit/src/mesh/trimesh.rs
Due: cargo-fmt, cargo-test, cargo-clippy

fix: share edge points between collision hulls (#31)
  docs/tools/stagtest.md
  godot/3d/islandbuilder/meshgen_test.tscn
  godot/test/scenarios/example/failing_test.gd
  godot/test/scenarios/example/failing_test.tscn
  godot/test/scenarios/example/hello_world.tscn
  godot/test/scenarios/example/signals_test.gd
  godot/test/scenarios/example/signals_test.tscn
  godot/test/scenarios/example/test_hello_world.gd
  godot/test/scenarios/test_island_builder.gd
  godot/test/scenarios/test_island_builder.tscn
  rust/StagToolkit/src/island.rs
  rust/StagToolkit/src/mesh/godot.rs
  rust/StagToolkit/src/mesh/nets.rs
  rust/StagToolkit/src/mesh/trimesh.rs
Due: cargo-fmt, cargo-test, cargo-clippy

docs: migrate projects list somewhere else
  docs/projects/abyss.md
  docs/projects/brick-tower.md
Due: none

feat: add QueueFloat and internal FloatQueue class for handling bulk float data (#32)
  godot/test/scenarios/test_queues.gd
  godot/test/scenarios/test_queues.tscn
  rust/StagToolkit/src/lib.rs
  rust/StagToolkit/src/math/types.rs
  rust/StagToolkit/src/primqueue.rs
Due: cargo-fmt, cargo-test, cargo-clippy

feat: benchmark system for StagTest (#34)
  Cargo.lock
  Makefile
  docs/tools/stagtest.md
  godot/.gitignore
  godot/addons/stag_toolkit/plugin.cfg
  godot/addons/stag_toolkit/plugin/stagtest.gd
  godot/test/benchmarks/bench_island_builder.gd
  godot/test/benchmarks/bench_island_builder.tscn
  readme.md
  rust/StagToolkit/Cargo.toml
  rust/StagToolkit/src/primqueue.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

test: fix IslandBuilder benchmark to take optimization step into account
  godot/addons/stag_toolkit/plugin/stagtest.gd
  godot/test/benchmarks/bench_island_builder.gd
Due: none

ci for Abyss
  .gitea/workflows/ci.yaml
  godot-build/build.sh
  godot-build/install.sh
Due: none

update install script
  godot-build/install.sh
Due: none

fix: ci install script?
  godot-build/install.sh
Due: none

feat: add factorial(n) function to StagUtils
  Makefile
  godot/addons/stag_toolkit/plugin/stagutils.gd
  godot/test/scenarios/test_utils.gd
  godot/test/scenarios/test_utils.tscn
Due: none

fix: make StagUtils.factorial use floating-point numbers to prevent integer overflows
  godot/addons/stag_toolkit/plugin/stagutils.gd
  godot/test/scenarios/test_utils.gd
Due: none

test: add combination test
  godot/test/scenarios/test_utils.gd
Due: none

feat: update Gitea Actions workflow for Abyss CI (#35)
  .gitea/workflows/ci.yaml
  godot-build/build.sh
  godot-build/install.sh
Due: none

feat: merge_duplicate, swap_indices
  rust/StagToolkit/src/mesh/trimesh.rs
Due: cargo-fmt, cargo-test, cargo-clippy

optimize meshes with a simple merge-by-distance
  rust/StagToolkit/src/island.rs
  rust/StagToolkit/src/mesh/trimesh.rs
Due: cargo-fmt, cargo-test, cargo-clippy

feat: add scene post-import plugin for custom LODs and collision hulls (#36)
  godot/addons/stag_toolkit/plugin/importer/simple_lod.gd
  godot/addons/stag_toolkit/plugin/utils.gd
  godot/addons/stag_toolkit/plugin/utils_import.gd
  godot/addons/stag_toolkit/stag_toolkit.gd
  godot/project.godot
Due: none

feat: add INTEGER_MIN and INTEGER_MAX to StagUtils
  godot/addons/stag_toolkit/plugin/utils.gd
Due: none

chore: update godot-rust, fix version mismatch, destroy_bakes now available directly on IslandBuilder node
  Cargo.lock
  godot/addons/stag_toolkit/plugin.cfg
  godot/addons/stag_toolkit/plugin/island_builder.gd
  godot/addons/stag_toolkit/plugin/ui/island_docker.tscn
  rust/StagToolkit/Cargo.toml
  rust/StagToolkit/src/island.rs
  rust/StagToolkit/src/mesh/godot.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

feat: destroy all bakes and build all islands
  godot/addons/stag_toolkit/plugin/island_builder.gd
  godot/addons/stag_toolkit/plugin/ui/island_docker.tscn
  rust/StagToolkit/src/island.rs
Due: cargo-fmt, cargo-test, cargo-clippy

feat: IslandBuilder.target_mesh() for fetching/instantiating MeshInstance3D, add ProjectSettings config
  godot/addons/stag_toolkit/plugin/island_builder.gd
  godot/addons/stag_toolkit/stag_toolkit.gd
  godot/project.godot
  godot/test/benchmarks/bench_island_builder.gd
  godot/test/scenarios/test_island_builder.gd
  godot/test/scenarios/test_island_builder.tscn
  rust/StagToolkit/src/island.rs
Due: cargo-fmt, cargo-test, cargo-clippy

feat: planar decimate IslandBuilder collision hulls (#37)
  .github/copilot-instructions.md
  Cargo.lock
  godot/3d/islandbuilder/meshgen_test.tscn
  godot/addons/stag_toolkit/plugin.cfg
  godot/addons/stag_toolkit/plugin/island_builder.gd
  godot/addons/stag_toolkit/plugin/ui/island_docker.tscn
  godot/addons/stag_toolkit/stag_toolkit.gd
  godot/project.godot
  godot/test/benchmarks/bench_island_builder.gd
  godot/test/scenarios/test_island_builder.gd
  godot/test/scenarios/test_island_builder.tscn
  readme.md
  rust/StagToolkit/Cargo.toml
  rust/StagToolkit/src/island.rs
  rust/StagToolkit/src/mesh/godot.rs
  rust/StagToolkit/src/mesh/trimesh.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

cleanup
  .github/copilot-instructions.md
Due: none

fix: comments should be treated as docs
  godot/addons/stag_toolkit/plugin/island_builder.gd
  godot/addons/stag_toolkit/plugin/stagtest.gd
  godot/addons/stag_toolkit/plugin/utils.gd
  godot/addons/stag_toolkit/plugin/utils_import.gd
  godot/addons/stag_toolkit/stag_toolkit.gd
Due: none

feat: add IronPress material importer (#38)
  .gdlintrc
  docs/images/ironpress-1.png
  docs/images/ironpress-2.png
  docs/images/ironpress-3.png
  docs/tools/ironpress.md
  godot/3d/islandbuilder/materials/mat_island_sandy.tres
  godot/3d/islandbuilder/meshgen_test.tscn
  godot/addons/stag_toolkit/plugin/importer/ironpress.gd
  godot/addons/stag_toolkit/stag_toolkit.gd
  godot/project.godot
  readme.md
Due: none

fix!: resolve discrepancies between "approx equal" and "in delta" test methodology (#40)
  Cargo.lock
  docs/tools/stagtest.md
  godot/addons/stag_toolkit/plugin.cfg
  godot/addons/stag_toolkit/plugin/stagtest.gd
  godot/test/scenarios/test_queues.gd
  rust/StagToolkit/Cargo.toml
Due: cargo-update, cargo-test, cargo-clippy

feat: IslandBuilder parallelization and chunking for Surface Nets (#41)
  Cargo.lock
  godot/3d/islandbuilder/meshgen_test.tscn
  godot/addons/stag_toolkit/plugin.cfg
  godot/addons/stag_toolkit/plugin/importer/ironpress.gd
  godot/addons/stag_toolkit/plugin/island_builder.gd
  godot/test/benchmarks/bench_island_builder.tscn
  godot/test/benchmarks/bench_many_islands.gd
  godot/test/benchmarks/bench_many_islands.tscn
  rust/StagToolkit/Cargo.toml
  rust/StagToolkit/src/island.rs
  rust/StagToolkit/src/math/volumetric.rs
  rust/StagToolkit/src/mesh/godot.rs
  rust/StagToolkit/src/mesh/trimesh.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

feat: add some icons
  godot/addons/stag_toolkit/icons/icon_queuefloat.svg
  godot/addons/stag_toolkit/icons/icon_queuefloat.svg.import
  godot/addons/stag_toolkit/stagtoolkit.gdextension
  godot/bootsplash.png
  godot/bootsplash.png.import
  godot/icon.svg
  godot/project.godot
Due: none

devops: bundle addon and publish release on tag (#42)
  .gitea/workflows/ci.yaml
  .gitea/workflows/release.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yml
  .gitignore
  Makefile
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-update: any of: \.toml$
  cargo-test: any of: \.rs$, \.toml$
  cargo-clippy: any of: \.rs$, \.toml$
