Repository arocull/stag-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-update, cargo-test, cargo-clippy

cargo-fmt:
  name: format rust
  entry: cargo fmt
  language: system
  pass_filenames: false

cargo-update:
  name: update crates
  entry: cargo update
  language: system
  pass_filenames: false

cargo-test:
  name: test crate
  entry: cargo test
  language: system
  pass_filenames: false

cargo-clippy:
  name: check crate
  entry: cargo clippy
  args:
  - --fix
  - --allow-staged
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

chore: remove unused mint type conversions + dependency
  Cargo.lock
  stag-toolkit/Cargo.toml
  stag-toolkit/src/math/types.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

docs: reorganize docs, document how to use SimulatedRope
  Makefile
  docs/ironpress.md
  docs/resources.md
  docs/simulatedrope.md
  docs/stagtest.md
  docs/workspace.md
  readme.md
Due: none

devops: add Criterion crate for Rust benchmarking, slight preparation for WASM builds
  .cargo/config.toml
  Cargo.lock
  Makefile
  godot/addons/stag_toolkit/stagtoolkit.gdextension
  stag-toolkit/Cargo.toml
  stag-toolkit/benches/simulation.rs
  stag-toolkit/src/classes/island.rs
  stag-toolkit/src/classes/rope.rs
  stag-toolkit/src/lib.rs
  stag-toolkit/src/simulation/rope.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

feat: rope simulation benchmarks and optimizations
  stag-toolkit/benches/simulation.rs
  stag-toolkit/src/classes/rope.rs
  stag-toolkit/src/simulation/rope.rs
Due: cargo-fmt, cargo-test, cargo-clippy

chore: tweak optimization levels, add more visual flair to readme, update IslandBuilder icon
  Cargo.lock
  godot/addons/stag_toolkit/icons/icon_islandbuilder.svg
  godot/addons/stag_toolkit/stagtoolkit.gdextension
  readme.md
  stag-toolkit/Cargo.toml
  stag-toolkit/src/animation/mixable.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

refactor: StagTest.signal_expector now returns a SignalExpector for more refined assertions
  docs/stagtest.md
  godot/addons/stag_toolkit/plugin/island_builder/island_builder.gd
  godot/addons/stag_toolkit/plugin/island_builder/island_builder.gd.uid
  godot/addons/stag_toolkit/plugin/island_builder/island_docker.tscn
  godot/addons/stag_toolkit/plugin/stagtest.gd
  godot/addons/stag_toolkit/stag_toolkit.gd
  godot/test/benchmarks/islandbuilder/bench_build_all.gd
  godot/test/scenarios/example/signals_test.gd
  godot/test/scenarios/example/test_hello_world.tscn
  godot/test/scenarios/example/test_signals.gd
  godot/test/scenarios/example/test_signals.gd.uid
  godot/test/scenarios/example/test_signals.tscn
  godot/test/scenarios/example/test_workflow.gd
  godot/test/scenarios/example/test_workflow.gd.uid
  godot/test/scenarios/example/test_workflow.tscn
  godot/test/scenarios/island_builder/test_island_builder.gd
  godot/test/scenarios/island_builder/test_island_builder.gd.uid
  godot/test/scenarios/island_builder/test_island_builder.tscn
  godot/test/scenarios/queues/test_queuefloat.gd
  godot/test/scenarios/queues/test_queuefloat.gd.uid
  godot/test/scenarios/queues/test_queuefloat.tscn
  godot/test/scenarios/utils/test_utils.gd
  godot/test/scenarios/utils/test_utils.gd.uid
  godot/test/scenarios/utils/test_utils.tscn
Due: none

WIP auto-generate documentation using Godot and Sphinx
  .gdformatrc
  .gitea/setup/action.yaml
  .github/workflows/docs.yml
  Makefile
  godot-build/build.sh
  godot-build/install.sh
  sphinx/.gitignore
  sphinx/build.sh
  sphinx/conf.py
  sphinx/index.rst
  sphinx/version.py
  stag-toolkit/src/animation/soup.rs
Due: cargo-fmt, cargo-test, cargo-clippy

tweak GitHub action
  .github/workflows/docs.yml
Due: none

fix indentation
  .github/workflows/docs.yml
Due: none

aaaa docgen
  .github/workflows/docs.yml
Due: none

feat: experimental documentation generation and deployment via Sphinx (#53)
  .gdformatrc
  .gitea/setup/action.yaml
  .gitea/workflows/ci.yaml
  .github/workflows/ci.yaml
  .github/workflows/docs.yml
  Cargo.lock
  Cargo.toml
  Makefile
  godot-build/build.sh
  godot-build/install.sh
  sphinx/.gitignore
  sphinx/build.sh
  sphinx/conf.py
  sphinx/index.rst
  sphinx/version.py
  stag-toolkit/Cargo.toml
  stag-toolkit/src/animation/soup.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

devops: actions workflow tweaks
  .gitea/setup/action.yaml
  .gitea/workflows/ci.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yml
Due: none

devops: asset import step in composite action, workaround for GitHub not using booleans properly (#55)
  .gitea/composite/setup/action.yaml
  .gitea/workflows/ci.yaml
  .gitea/workflows/release.yaml
  .github/workflows/ci.yaml
  godot/main.tscn
  godot/project.godot
Due: none

feat: optional "snapping" when too much tension is applied to SimulatedRopeBinding, tick_timer_process and tick_timer_physics_process methods for StagTest (#56)
  .github/workflows/ci.yaml
  Makefile
  docs/stagtest.md
  godot/addons/stag_toolkit/plugin/stagtest.gd
  godot/test/scenarios/example/test_tick_timers.gd
  godot/test/scenarios/example/test_tick_timers.gd.uid
  godot/test/scenarios/example/test_tick_timers.tscn
  godot/test/scenarios/rope/test_tension.gd
  godot/test/scenarios/rope/test_tension.gd.uid
  godot/test/scenarios/rope/test_tension.tscn
  stag-toolkit/src/classes/rope.rs
Due: cargo-fmt, cargo-test, cargo-clippy

devops: fix doc CI
  .gitea/workflows/ci.yaml
  .github/workflows/ci.yaml
  .github/workflows/docs.yml
Due: none

feat: Simple LOD Importer automatically uses collision meshes when specified via name
  godot/addons/stag_toolkit/plugin/importer/simple_lod.gd
Due: none

chore: update deps, v0.4.0 release
  Cargo.lock
Due: none

fix: release CI
  .gitea/workflows/release.yaml
Due: none

fix: release CI, reprise
  .github/workflows/release.yml
Due: none

chore: update godot-rust crate, editor lock IslandBuilder generated nodes
  Cargo.lock
  stag-toolkit/src/classes/island.rs
  stag-toolkit/src/classes/utils.rs
  stag-toolkit/src/lib.rs
Due: cargo-fmt, cargo-test, cargo-clippy

chore: bump patch version
  Cargo.lock
  godot/addons/stag_toolkit/plugin.cfg
  godot/project.godot
  stag-toolkit/Cargo.toml
Due: cargo-update, cargo-test, cargo-clippy

feat: autodeletion for SimulatedRope nodes that fall out of the world
  stag-toolkit/src/classes/rope.rs
Due: cargo-fmt, cargo-test, cargo-clippy

devops: remove Abyss build system
  Makefile
  godot-build/abyss.build
  godot-build/build.sh
Due: none

feat: add IslandBuilderSettings for easier management of IslandBuilder data
  stag-toolkit/src/classes/island_settings.rs
  stag-toolkit/src/classes/rope.rs
  stag-toolkit/src/lib.rs
Due: cargo-fmt, cargo-test, cargo-clippy

WIP Godot-agnostic island module
  stag-toolkit/src/classes/island.rs
  stag-toolkit/src/lib.rs
  stag-toolkit/src/mesh/island.rs
  stag-toolkit/src/mesh/trimesh.rs
Due: cargo-fmt, cargo-test, cargo-clippy

feat: basic Bounding Box struct
  stag-toolkit/src/lib.rs
  stag-toolkit/src/math/bounding_box.rs
  stag-toolkit/src/mesh/island.rs
Due: cargo-fmt, cargo-test, cargo-clippy

feat: transform math for Bounding Box, skip using Godot AABBs
  stag-toolkit/src/math/bounding_box.rs
  stag-toolkit/src/math/sdf.rs
  stag-toolkit/src/mesh/godot.rs
Due: cargo-fmt, cargo-test, cargo-clippy

WIP baking methods for Godot-agnostic Island Builder Data struct
  stag-toolkit/src/mesh/island.rs
Due: cargo-fmt, cargo-test, cargo-clippy

more work on new Island Builder Data format
  stag-toolkit/src/math/volumetric.rs
  stag-toolkit/src/mesh/island.rs
  stag-toolkit/src/mesh/trimesh.rs
Due: cargo-fmt, cargo-test, cargo-clippy

wip
  Cargo.lock
  stag-toolkit/Cargo.toml
  stag-toolkit/benches/island.rs
  stag-toolkit/src/math/volumetric.rs
  stag-toolkit/src/mesh/island.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

chore: update rust version, packages
  Cargo.lock
  stag-toolkit/src/classes/island.rs
  stag-toolkit/src/math/delta.rs
  stag-toolkit/src/math/projection.rs
  stag-toolkit/src/math/sdf.rs
  stag-toolkit/src/math/volumetric.rs
  stag-toolkit/src/mesh/pointcloud.rs
  stag-toolkit/src/mesh/trimesh.rs
Due: cargo-fmt, cargo-test, cargo-clippy

WIP rust-implementation of a physics server
  stag-toolkit/src/lib.rs
  stag-toolkit/src/mesh/raycast.rs
  stag-toolkit/src/physics/body.rs
  stag-toolkit/src/physics/identity.rs
  stag-toolkit/src/physics/server.rs
Due: cargo-fmt, cargo-test, cargo-clippy

feat: implement raycast method for Trimesh
  stag-toolkit/src/lib.rs
  stag-toolkit/src/math/raycast.rs
  stag-toolkit/src/mesh/raycast.rs
  stag-toolkit/src/mesh/trimesh.rs
  stag-toolkit/src/physics/server.rs
Due: cargo-fmt, cargo-test, cargo-clippy

basic unit tests for trimesh raycast
  stag-toolkit/src/math/raycast.rs
  stag-toolkit/src/mesh/trimesh.rs
Due: cargo-fmt, cargo-test, cargo-clippy

Trimesh unit tests, fix plane math, feature-gate the physics server
  Cargo.lock
  stag-toolkit/Cargo.toml
  stag-toolkit/src/lib.rs
  stag-toolkit/src/math/projection.rs
  stag-toolkit/src/mesh/trimesh.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

WIP more physics server stuff, raycast result handlers
  Cargo.lock
  stag-toolkit/Cargo.toml
  stag-toolkit/src/lib.rs
  stag-toolkit/src/math/raycast.rs
  stag-toolkit/src/mesh/trimesh.rs
  stag-toolkit/src/physics/body.rs
  stag-toolkit/src/physics/body_state.rs
  stag-toolkit/src/physics/raycast.rs
  stag-toolkit/src/physics/server.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

start work on godot implementation, raycast fixes
  Makefile
  godot/test/scenarios/physics_server/test_raycast.gd
  godot/test/scenarios/physics_server/test_raycast.gd.uid
  godot/test/scenarios/physics_server/test_raycast.tscn
  stag-toolkit/src/classes/physics_server.rs
  stag-toolkit/src/lib.rs
  stag-toolkit/src/math/projection.rs
  stag-toolkit/src/math/raycast.rs
  stag-toolkit/src/math/types.rs
  stag-toolkit/src/mesh/trimesh.rs
  stag-toolkit/src/physics/body.rs
  stag-toolkit/src/physics/body_state.rs
  stag-toolkit/src/physics/raycast.rs
  stag-toolkit/src/physics/server.rs
Due: cargo-fmt, cargo-test, cargo-clippy

feat: TriMesh raycasting, implement experimental Physics Server (#60)
  Cargo.lock
  Makefile
  godot/3d/islandbuilder/meshgen_test.tscn
  godot/test/scenarios/physics_server/test_raycast.gd
  godot/test/scenarios/physics_server/test_raycast.gd.uid
  godot/test/scenarios/physics_server/test_raycast.tscn
  stag-toolkit/Cargo.toml
  stag-toolkit/src/classes/island.rs
  stag-toolkit/src/classes/physics_server.rs
  stag-toolkit/src/lib.rs
  stag-toolkit/src/math/projection.rs
  stag-toolkit/src/math/raycast.rs
  stag-toolkit/src/math/types.rs
  stag-toolkit/src/mesh/trimesh.rs
  stag-toolkit/src/physics/body.rs
  stag-toolkit/src/physics/body_state.rs
  stag-toolkit/src/physics/identity.rs
  stag-toolkit/src/physics/raycast.rs
  stag-toolkit/src/physics/server.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

fix: invalid trimesh params
  stag-toolkit/src/classes/physics_server.rs
  stag-toolkit/src/mesh/trimesh.rs
Due: cargo-fmt, cargo-test, cargo-clippy

WIP struggle through a proc-macro
  Cargo.lock
  Cargo.toml
  codegen/Cargo.toml
  codegen/src/lib.rs
  stag-toolkit/Cargo.toml
  stag-toolkit/src/lib.rs
  stag-toolkit/src/mesh/island.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-update: any of: \.toml$
  cargo-test: any of: \.rs$, \.toml$
  cargo-clippy: any of: \.rs$, \.toml$
