Repository arocull/stag-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-update, cargo-test, cargo-clippy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-json
        exclude: .vscode/
      - id: pretty-format-json
        args: [--autofix]
        exclude: .vscode/
      - id: check-yaml
      - id: check-toml
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-case-conflict
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: forbid-submodules

  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.9.0
    hooks:
      - id: shellcheck

  # GDScript Toolkit - https://github.com/Scony/godot-gdscript-toolkit
  - repo: local
    # rev: 4.2.2
    hooks:
      - id: gdlint
        name: gdlint
        description: "gdlint - linter for GDScript"
        entry: gdlint
        language: python
        language_version: python3
        require_serial: true
        types: [gdscript]
  #   Disabling because formatter sucks right now.
  #   Looks like it may be getting added to Godot though:
  #   https://github.com/godotengine/godot/pull/97383
  #   - id: gdformat
  #     name: gdformat
  #     description: "gdformat - formatter for GDScript"
  #     entry: gdformat
  #     language: python
  #     language_version: python3
  #     require_serial: true
  #     types: [gdscript]

  - repo: local
    hooks:
      - id: cargo-fmt
        name: format rust
        entry: cargo fmt
        language: system
        pass_filenames: false
        types: [rust]

      # Updating accomplishes a few things:
      # - verifies dependencies are actually up to date (branch specifiers are
      #   lazily evaluated)
      # - verifies dependencies are actually used (unused dependencies or
      #   versions are removed)
      # - verifies dependencies are pinned within reason (no loose version
      #   specifiers)
      # - verifies dependencies are actually compatible (no sudden version
      #   conflicts from loose version specifiers)
      # - refreshes Cargo.lock
      - id: cargo-update
        name: update crates
        entry: cargo update
        language: system
        pass_filenames: false
        types: [toml]

      - id: cargo-test
        name: test crate
        entry: cargo test
        language: system
        pass_filenames: false
        # NOTE: `types` key is an AND operation, `types_or` key is an OR
        # operation
        # https://pre-commit.com/#filtering-files-with-types
        types_or: [rust, toml]

      - id: cargo-clippy
        name: check crate
        entry: cargo clippy
        args: [--fix, --allow-staged, --, -D, warnings]
        language: system
        pass_filenames: false
        types_or: [rust, toml]

refactor: use Rust threads instead of WorkerThreadPool for generating IslandBuilder previews (#62)
  .cargo/config.toml
  .github/workflows/ci.yaml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  Cargo.lock
  godot/3d/islandbuilder/materials/textures/noise_generic_simple.tres
  godot/3d/islandbuilder/materials/textures/noise_normal.tres
  godot/3d/islandbuilder/meshgen_test.tscn
  godot/addons/stag_toolkit/plugin/island_builder/aabb_gizmo.gd
  godot/addons/stag_toolkit/stagtoolkit.gdextension
  stag-toolkit/Cargo.toml
  stag-toolkit/src/classes/island.rs
  stag-toolkit/src/classes/rope.rs
  stag-toolkit/src/mesh/island.rs
  stag-toolkit/src/utils.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

doc: update README and IslandBuilderSettings docs
  readme.md
  stag-toolkit/src/mesh/island.rs
Due: cargo-fmt, cargo-test, cargo-clippy

devops: additionally upload nogdext version when bundling
  .github/workflows/release.yml
  Makefile
Due: none

fix: do not compile release twice
  .gitea/composite/setup/action.yaml
  Makefile
Due: none

required APIs test for GDExtension
  godot/test/gdextension/required_apis.gd
  godot/test/gdextension/required_apis.gd.uid
  godot/test/gdextension/required_apis.tscn
Due: none

volumetric-utilities (#63)
  stag-toolkit/src/math/volumetric.rs
Due: cargo-fmt, cargo-test, cargo-clippy

chore: update deps, fix deprecations + linting, modify GitHub CI
  .github/workflows/ci.yaml
  Cargo.lock
  godot/addons/stag_toolkit/plugin.cfg
  godot/project.godot
  stag-toolkit-codegen/Cargo.toml
  stag-toolkit/Cargo.toml
  stag-toolkit/src/classes/physics_server.rs
  stag-toolkit/src/math/volumetric.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

chore: reorganize internals a bit, crate documentation, add feature flag for animation
  .pre-commit-config.yaml
  .zed/settings.json
  Makefile
  stag-toolkit-codegen/Cargo.toml
  stag-toolkit/Cargo.toml
  stag-toolkit/readme.md
  stag-toolkit/src/classes/island.rs
  stag-toolkit/src/classes/utils.rs
  stag-toolkit/src/lib.rs
  stag-toolkit/src/math/bounding_box.rs
  stag-toolkit/src/math/delta.rs
  stag-toolkit/src/math/noise.rs
  stag-toolkit/src/mesh/pointcloud.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

chore: bump version, prepare for crate release
  Cargo.lock
  godot/addons/stag_toolkit/plugin.cfg
  godot/project.godot
  stag-toolkit-codegen/Cargo.toml
  stag-toolkit/Cargo.toml
Due: cargo-update, cargo-test, cargo-clippy

docs: indicate crates.io
  readme.md
Due: none

doc: lint docs on CI, pass all_features in metadata, fix doc warnings
  .pre-commit-config.yaml
  .yamllint.yml
  Cargo.lock
  Makefile
  stag-toolkit/Cargo.toml
  stag-toolkit/src/lib.rs
  stag-toolkit/src/math/projection.rs
  stag-toolkit/src/math/sdf.rs
  stag-toolkit/src/mesh/island.rs
  stag-toolkit/src/physics/body_state.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

chore: update Godot imports, re-enable gdlint
  .pre-commit-config.yaml
  godot/3d/islandbuilder/materials/textures/noise_generic.png.import
  godot/addons/stag_toolkit/icons/icon_islandbuilder.svg.import
  godot/addons/stag_toolkit/icons/icon_islandbuildershape.svg.import
  godot/addons/stag_toolkit/icons/icon_queuefloat.svg.import
  godot/addons/stag_toolkit/icons/icon_simulatedrope.svg.import
  godot/addons/stag_toolkit/icons/icon_simulatedropebinding.svg.import
  godot/addons/stag_toolkit/icons/icon_simulatedropesettings.svg.import
  godot/addons/stag_toolkit/icons/icon_stagtoolkit.svg.import
  godot/addons/stag_toolkit/icons/icon_stagtoolkit_monochrome.svg.import
  godot/addons/stag_toolkit/plugin/logger.gd
  godot/addons/stag_toolkit/plugin/stagtest.gd
  godot/bootsplash.png.import
  godot/icon.svg.import
  godot/test/benchmarks/islandbuilder/bench_build_all.gd
  godot/test/benchmarks/islandbuilder/bench_build_all.tscn
Due: none

WIP gaussian splat importing
  godot/addons/stag_toolkit/plugin/importer/gaussian_splat.gd
  godot/addons/stag_toolkit/plugin/importer/gaussian_splat.gd.uid
  godot/addons/stag_toolkit/stag_toolkit.gd
  godot/addons/stag_toolkit/utils/shader_includes/include_gaussian_splat.gdshaderinc
  godot/addons/stag_toolkit/utils/shader_includes/include_gaussian_splat.gdshaderinc.uid
  godot/addons/stag_toolkit/utils/shaders/mat_gaussian_splat.gdshader
  godot/addons/stag_toolkit/utils/shaders/mat_gaussian_splat.gdshader.uid
  godot/addons/stag_toolkit/utils/shaders/mat_gaussian_splat.tres
  godot/main.tscn
Due: none

WIP analytics
  Cargo.lock
  stag-toolkit/Cargo.toml
  stag-toolkit/src/classes/analytics.rs
  stag-toolkit/src/lib.rs
  stag-toolkit/src/simulation/rope.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

WIP initial setup
  godot/addons/stag_toolkit/utils/export/export_config.gd
  godot/addons/stag_toolkit/utils/export/export_config.gd.uid
  godot/addons/stag_toolkit/utils/export/export_config.tscn
Due: none

devops: dedicated build script, optimization/safety layers, CI fixes (#67)
  .gitea/composite/setup/action.yaml
  .gitea/workflows/ci.yaml
  .github/workflows/ci.yaml
  Cargo.lock
  Cargo.toml
  Makefile
  build.sh
  godot/addons/stag_toolkit/stagtoolkit.gdextension
  stag-toolkit/src/math/volumetric.rs
  stag-toolkit/src/mesh/island.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

chore: update deps, bump version, fix makefile
  Cargo.lock
  Makefile
  godot/addons/stag_toolkit/plugin.cfg
  godot/project.godot
  readme.md
  stag-toolkit-codegen/Cargo.toml
  stag-toolkit/Cargo.toml
Due: cargo-update, cargo-test, cargo-clippy

feat: layered/recursive export configuration tool (#66)
  .prettierrc
  build-godot.cmd
  build.cmd
  godot/addons/stag_toolkit/plugin/utils.gd
  godot/addons/stag_toolkit/utils/export/export_config.gd
  godot/addons/stag_toolkit/utils/export/export_config.gd.uid
  godot/addons/stag_toolkit/utils/export/export_config.tscn
  godot/export_config.json
  godot/export_presets.cfg
Due: none

experiment with procedural island generation
  godot/prototyping/islands/procedural.gd
  godot/prototyping/islands/procedural.gd.uid
  godot/prototyping/islands/procedural.tscn
Due: none

feat: add PreprocessorShaderMaterial for simpler shader management when using shader includes (#69)
  godot/.godot/global_script_class_cache.cfg
  godot/addons/stag_toolkit/plugin/preprocessmat.gd
  godot/addons/stag_toolkit/plugin/preprocessmat.gd.uid
Due: none

fix: PreprocessorShaderMaterial not building shader when first loaded
  godot/addons/stag_toolkit/plugin/preprocessmat.gd
Due: none

chore: bump version to 0.5.3
  Cargo.lock
  godot/addons/stag_toolkit/plugin.cfg
  godot/project.godot
  readme.md
  stag-toolkit-codegen/Cargo.toml
  stag-toolkit/Cargo.toml
Due: cargo-update, cargo-test, cargo-clippy

devops: CI fixes
  .gitea/workflows/release.yaml
  .github/workflows/ci.yaml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  Makefile
  build.sh
Due: none

fix: remove debug print from PreprocessorShaderMaterial
  godot/addons/stag_toolkit/plugin/preprocessmat.gd
Due: none

fix: PreprocessorShaderMaterial should consistently initialize in both editor and exported builds
  godot/addons/stag_toolkit/plugin/preprocessmat.gd
Due: none

chore: bump version
  Cargo.lock
  godot/addons/stag_toolkit/plugin.cfg
  godot/project.godot
  readme.md
  stag-toolkit-codegen/Cargo.toml
  stag-toolkit/Cargo.toml
Due: cargo-update, cargo-test, cargo-clippy

fix: rope events are set up when added to tree, rather than on initialization
  godot/addons/stag_toolkit/plugin/preprocessmat.gd
  stag-toolkit/src/classes/rope.rs
Due: cargo-fmt, cargo-test, cargo-clippy

chore: update packages, bump version (#70)
  Cargo.lock
  godot/addons/stag_toolkit/plugin.cfg
  godot/project.godot
  readme.md
  stag-toolkit-codegen/Cargo.toml
  stag-toolkit/Cargo.toml
Due: cargo-update, cargo-test, cargo-clippy

chore: migrate godot-rust to v0.5.1
  .zed/settings.json
  Cargo.lock
  stag-toolkit-codegen/src/lib.rs
  stag-toolkit/Cargo.toml
  stag-toolkit/src/classes/island.rs
  stag-toolkit/src/classes/island_settings.rs
  stag-toolkit/src/classes/physics_server.rs
  stag-toolkit/src/classes/rope.rs
  stag-toolkit/src/physics/identity.rs
  stag-toolkit/src/physics/server.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

chore: migrate godot-rust to v0.5.1 (#71)
  .zed/settings.json
  Cargo.lock
  stag-toolkit-codegen/src/lib.rs
  stag-toolkit/Cargo.toml
  stag-toolkit/src/classes/island.rs
  stag-toolkit/src/classes/island_settings.rs
  stag-toolkit/src/classes/physics_server.rs
  stag-toolkit/src/classes/rope.rs
  stag-toolkit/src/physics/identity.rs
  stag-toolkit/src/physics/server.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

WIP line render class
  Makefile
  readme.md
  stag-toolkit/src/classes/line.rs
  stag-toolkit/src/lib.rs
  stag-toolkit/src/mesh/line.rs
Due: cargo-fmt, cargo-test, cargo-clippy

update gdextension, new approach to StagLineMesh
  .zed/settings.json
  build.sh
  godot/addons/stag_toolkit/stagtoolkit.gdextension
  stag-toolkit-codegen/Cargo.toml
  stag-toolkit/src/classes/line.rs
  stag-toolkit/src/math/types.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

resolve compile errors
  stag-toolkit/src/classes/line.rs
Due: cargo-fmt, cargo-test, cargo-clippy

prototyping aaaa
  godot/addons/stag_toolkit/utils/shader_includes/include_linerender.gdshaderinc
  godot/addons/stag_toolkit/utils/shader_includes/include_linerender.gdshaderinc.uid
  godot/addons/stag_toolkit/utils/shaders/mat_linerender.tres
  godot/addons/stag_toolkit/utils/shaders/shader_linerender.gdshader
  godot/addons/stag_toolkit/utils/shaders/shader_linerender.gdshader.uid
  godot/main.tscn
  stag-toolkit/src/classes/line.rs
  stag-toolkit/src/classes/primqueue.rs
  stag-toolkit/src/lib.rs
  stag-toolkit/src/math/types.rs
  stag-toolkit/src/mesh/godot.rs
  stag-toolkit/src/mesh/strip.rs
Due: cargo-fmt, cargo-test, cargo-clippy

feat: Camera utility nodes (#73)
  Makefile
  build.cmd
  build.sh
  godot/3d/camera/cameras.tscn
  godot/test/feature_gated/physics_server/test_raycast.gd
  godot/test/feature_gated/physics_server/test_raycast.gd.uid
  godot/test/feature_gated/physics_server/test_raycast.tscn
  godot/test/scenarios/utils/test_utils.gd
  stag-toolkit-codegen/src/lib.rs
  stag-toolkit/src/classes/camera.rs
  stag-toolkit/src/lib.rs
  stag-toolkit/src/math/projection.rs
  stag-toolkit/src/math/types.rs
Due: cargo-fmt, cargo-test, cargo-clippy

docs: update documentation pipeline
  .github/workflows/docs.yml
  .gitignore
  .zed/settings.json
  Cargo.lock
  Makefile
  godot/addons/stag_toolkit/plugin.cfg
  godot/project.godot
  pyproject.toml
  readme.md
  sphinx/.gitignore
  sphinx/Makefile
  sphinx/build.sh
  sphinx/conf.py
  sphinx/index.rst
  sphinx/make.bat
  sphinx/source/conf.py
  sphinx/source/docutils.conf
  sphinx/source/gdextension.rst
  sphinx/source/gdscript.rst
  sphinx/source/index.rst
  sphinx/source/tutorials.rst
  sphinx/source/tutorials/stagtest.rst
  sphinx/source/version.py
  stag-toolkit-codegen/Cargo.toml
  stag-toolkit/Cargo.toml
  stag-toolkit/pyproject.toml
Due: cargo-update, cargo-test, cargo-clippy

feat: method for exporting TriangleMesh to obj
  .github/workflows/docs.yml
  pyproject.toml
  stag-toolkit/pyproject.toml
  stag-toolkit/src/mesh/trimesh.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

experiment with building python modules
  Cargo.lock
  Cargo.toml
  pyproject.toml
  stag-pylib/Cargo.toml
  stag-pylib/pyproject.toml
  stag-pylib/readme.md
  stag-pylib/src/lib.rs
  stag-pylib/src/stag_pylib/__init__.py
  stag-pylib/src/stag_pylib/_core.pyi
  stag-pylib/src/stag_pylib/py.typed
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy

chore: bump gdext version
  .dockerignore
  Cargo.lock
  stag-toolkit/Cargo.toml
  stag-toolkit/src/mesh/trimesh.rs
Due: cargo-fmt, cargo-update, cargo-test, cargo-clippy
