Repository arocull/stag-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-doc, cargo-update, cargo-test, cargo-clippy

cargo-fmt:
  name: format rust
  entry: cargo fmt
  language: system
  pass_filenames: false

cargo-doc:
  name: check rust docs
  entry: make doc-rust-strict
  language: system
  pass_filenames: false

cargo-update:
  name: update crates
  entry: cargo update
  language: system
  pass_filenames: false

cargo-test:
  name: test crate
  entry: cargo test
  language: system
  pass_filenames: false

cargo-clippy:
  name: check crate
  entry: cargo clippy
  args:
  - --fix
  - --allow-staged
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

chore: update cargo dependencies, tweak documentation on StagTest
  Cargo.lock
  godot/addons/stag_toolkit/plugin/stagtest.gd
  stag-toolkit/Cargo.toml
Due: cargo-doc, cargo-update, cargo-test, cargo-clippy

chore: fixes for Godot 4.7, update packages
  .github/workflows/docs.yml
  Cargo.lock
  godot/addons/stag_toolkit/plugin/preprocessmat.gd
  stag-toolkit/Cargo.toml
Due: cargo-doc, cargo-update, cargo-test, cargo-clippy

docs: attempt to fix docgen
  sphinx/build.sh
Due: none

muck around
  stag-toolkit/src/classes/analytics.rs
Due: cargo-fmt, cargo-doc, cargo-test, cargo-clippy

chore: bump packages, work-in-progress WASM builds
  .cargo/config.toml
  .gitignore
  .zed/settings.json
  Cargo.lock
  build.sh
  readme.md
  stag-toolkit/Cargo.toml
  stag-toolkit/src/classes/camera.rs
  stag-toolkit/src/math/projection.rs
Due: cargo-fmt, cargo-doc, cargo-update, cargo-test, cargo-clippy

fix: incorrect feature flags in test builds, update action workflows
  .gitea/workflows/ci.yaml
  .gitea/workflows/release.yaml
  .github/workflows/ci.yaml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  build.sh
  godot/addons/stag_toolkit/utils/export/export_config.gd
  sphinx/requirements.txt
  stag-toolkit/Cargo.toml
  stag-toolkit/src/math/projection.rs
Due: cargo-fmt, cargo-doc, cargo-update, cargo-test, cargo-clippy

devops: attempt to fix docgen
  .gitea/composite/setup/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/docs.yml
  sphinx/Makefile
Due: none

chore: update packages, bump version to 0.5.6
  Cargo.lock
  godot/addons/stag_toolkit/plugin.cfg
  godot/project.godot
  pyproject.toml
  readme.md
  sphinx/source/conf.py
  stag-toolkit-codegen/Cargo.toml
  stag-toolkit/Cargo.toml
  stag-toolkit/src/classes/camera.rs
  stag-toolkit/src/mesh/trimesh.rs
Due: cargo-fmt, cargo-doc, cargo-update, cargo-test, cargo-clippy

initial draft for generic settings/form data UI library
  godot/.godot/global_script_class_cache.cfg
  godot/addons/stag_toolkit/plugin/ui/form/base.gd
  godot/addons/stag_toolkit/plugin/ui/form/base.gd.uid
  godot/addons/stag_toolkit/plugin/ui/form/base.tscn
  godot/addons/stag_toolkit/plugin/ui/form/toggle.gd
  godot/addons/stag_toolkit/plugin/ui/form/toggle.gd.uid
  godot/addons/stag_toolkit/plugin/ui/form/toggle.tscn
  godot/addons/stag_toolkit/plugin/ui/widgets/tooltip.gd
  godot/addons/stag_toolkit/plugin/ui/widgets/tooltip.gd.uid
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-doc: any of: \.rs$, \.toml$
  cargo-update: any of: \.toml$
  cargo-test: any of: \.rs$, \.toml$
  cargo-clippy: any of: \.rs$, \.toml$
